.content-center {
  width: 720px;
  margin: auto;
}

.img {
  display: block;
  margin: auto;
}

.logo-img {
  margin-bottom: 20px;
  width: 200px;
  height: 60px;
}

.header {
  background-color: rgb(255 253 233);
  padding: 15px;
  border-top: 2px solid #ffd993;
  font-weight: 600;
  margin-bottom: 80px;
  color: rgb(17, 82, 19);
}

.header-two {
  margin-bottom: 40px;
}

.focacca {
  border-radius: 10px;
  filter: drop-shadow(5px 5px 4px #797878);
}

.span-grey {
  color: gray;
  padding: 10px;
}

.text-left {
  text-align: left;
}

.featured {
  border-left: 2px solid #ffd993;
  padding-left: 20px;
  color: darkorange;
}

.featured a {
  color: rgb(17, 82, 19);
  text-decoration: underline;
}

.ingredients {
  padding-top: 50px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(29, 187, 153);
  margin-bottom: 20px;
}

.method-header {
  border-bottom: 1px solid rgb(29, 187, 153);
  margin-bottom: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.last-link {
  color: rgb(17, 82, 19);
  text-decoration: underline;
}
